.container {
  @include for-phone-only {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-phone-only-landscape {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-tablet-portrait-up {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-tablet-landscape-up {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-desktop-up {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include for-big-desktop-up {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.container2 {
  @include for-phone-only {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-phone-only-landscape {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-tablet-portrait-up {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-tablet-landscape-up {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-desktop-up {
    margin-left: 100px;
    margin-right: 100px;
  }
  @include for-big-desktop-up {
    margin-left: 250px;
    margin-right: 250px;
  }
}
