.photography-page {
  // margin-bottom: 45px;
  min-height: 100vh;
  // overflow-y: scroll;
  @include themed() {
    color: t($text);
    background: t($bg);
  }
  font-family: argestaheadline-regular;
  .ptitle {
    padding-left: 50px;
    font-size: 2.5rem;
  }
}
.photo-container {
  position: fixed;
  display: flex;
  bottom: 0;
  left: 50px;
  width: calc(100% - 100px);
  height: calc(100% - 45px);

  overflow-x: scroll;
  overflow-y: hidden;
  // -moz-box-sizing: border-box;
  // -webkit-box-sizing: border-box;
  // box-sizing: border-box;

  @include themed() {
    color: t($text);
    background: t($bg);
  }
  @include for-phone-only {
    left: 0px;
    top: 95px;
    width: 100%;
    height: calc(100% - 145px);
    // padding-bottom: 50px;
  }
}

.photo-article {
  text-align: right;
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 30vh;
  // width: 50vw;

  font-family: agestadhairline-regular;

  h1 {
    z-index: -1;
    line-height: 20px;
    // color: rgba(0, 195, 255, 0.171);
    @include themed() {
      color: rgba($color: t($secondary), $alpha: 0.03);
    }

    font-family: chaney;
    text-decoration: underline;

    font-size: 20vh;
  }
  h2 {
    @include themed() {
      color: t($secondary);
    }

    text-align: left;

    // line-height: 1;
    font-size: 9vh;
  }
  h5 {
    @include themed() {
      color: t($secondary);
    }
    line-height: 1;
  }
  p {
    @include themed() {
      color: t($secondary);
    }
    text-align: left;
    padding-top: 50px;
    padding-left: 5px;
  }
  @include for-phone-only {
    min-width: calc(599px - 80px);
  }
  @include for-phone-only-landscape {
    min-width: calc(900px - 80px);
  }
  @include for-tablet-portrait-up {
    min-width: calc(600px - 80px);
    h1 {
      font-size: 20vh;
    }
    h2 {
      line-height: 1;
      font-size: 9vh;
    }
    h5 {
      line-height: 1;
    }
    p {
      padding-top: 50px;
      padding-left: 5px;
    }
  }
  @include for-tablet-landscape-up {
    min-width: calc(900px - 80px);
  }
  @include for-desktop-up {
    min-width: calc(1200px - 80px);
  }
  @include for-big-desktop-up {
    min-width: calc(1800px - 80px);
  }
}

.photo-grid {
  padding-top: 0px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(200, $squareSize);
  grid-template-rows: repeat(20, $squareSize);
  img {
    // visibility: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;

    // max-height: 100%;
    cursor: pointer;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  @include for-phone-only {
    padding-top: 0px;
    // padding-bottom: 45px;
    height: calc(100% - 100px);
    // height: 90%;
    grid-template-columns: repeat(200, $squareSizeMob);
    grid-template-rows: repeat(20, $squareSizeMob);
  }
}

.sidebar-container {
  padding-right: 50px;
}

// photography page
.album-container {
  padding-top: 5px;
  // padding-bottom: 50px; // check
  margin-left: 100px;
  margin-right: 100px;
  @include for-phone-only {
    margin-left: 56px;
    margin-right: 56px;
  }
  @include for-phone-only-landscape {
    margin-left: 56px;
    margin-right: 56px;
  }
}
.album-grid {
  width: 100%;
  display: grid;
  justify-items: center;
  // grid-template-rows: 22% 22%;
  grid-gap: 50px;
  // grid-row-gap: 240px;
  @include for-phone-only {
    grid-template-columns: 1fr;
  }
  @include for-phone-only-landscape {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include for-tablet-portrait-up {
    grid-template-columns: 1fr 1fr;
  }
  @include for-tablet-landscape-up {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include for-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include for-big-desktop-up {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.album-card {
  padding-left: 8px;
  padding-top: 8px;
  padding-right: 8px;
  // padding-bottom: 25px;
  // margin-bottom: 25px;

  width: 100%;
  height: 100%;

  display: inline-block;
  border: solid rgb(141, 141, 141) 1px;
  vertical-align: bottom;
  // @include themed() {
  //   background: t($bg);
  // }

  font-family: bould-regular;

  a {
    text-decoration: none;
    color: inherit;

    .album-card-info {
      margin-top: 5px;
      padding-left: 5px;
      padding-right: 5px;
      &:hover {
        @include themed() {
          color: t($bg);
          background: t($text);
        }
      }
      .album-card-date {
        font-size: 0.8rem;
      }
    }
  }
  h1 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    @include for-phone-only {
      // width: 350px;
      // height: 350px;
    }
    // @include for-tablet-portrait-up {
    //   width: 350px;
    //   height: 350px;
    // }
    // @include for-tablet-landscape-up {
    //   width: 350px;
    //   height: 350px;
    // }
    // @include for-desktop-up {
    //   width: 300px;
    //   height: 300px;
    // }
    // @include for-big-desktop-up {
    //   width: 350px;
    //   height: 350px;
    // }
  }

  .img-placeholder {
    // background-color: grey;
    width: 100%;
    min-height: 60%;
    padding-bottom: 5px;
    // @include for-phone-only {
    //   width: 350px;
    //   height: 350px;
    // }
    // @include for-tablet-portrait-up {
    //   width: 350px;
    //   height: 350px;
    // }
    // @include for-tablet-landscape-up {
    //   width: 350px;
    //   height: 350px;
    // }
    // @include for-desktop-up {
    //   width: 300px;
    //   height: 300px;
    // }
    // @include for-big-desktop-up {
    //   width: 350px;
    //   height: 350px;
    // }
  }
}
