$bg--light: #fff;
$text--light: #000;
$secondary--light: rgb(0, 0, 255);

$bg--dark: rgb(36, 36, 36);
$text--dark: #fff;
$secondary--dark: rgb(145, 156, 255);

$bg: 'bg';
$text: 'text';
$secondary: 'secondary';

$themes: (
  default: (
    bg: $bg--light,
    text: $text--light,
    secondary: $secondary--light,
  ),
  dark: (
    bg: $bg--dark,
    text: $text--dark,
    secondary: $secondary--dark,
  ),
);
$squareSize: calc((100vh - 60px) / 20);
$squareSizeMob: calc((100vh - 145px) / 20);
