.home {
  // padding-top: 45px;
  @include themed() {
    color: t($text);
    background: t($bg);
  }
}
.container {
  @include for-phone-only {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-tablet-portrait-up {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-tablet-landscape-up {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include for-desktop-up {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include for-big-desktop-up {
    padding-left: 250px;
    padding-right: 250px;
  }
}
.container2 {
  @include for-phone-only {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-tablet-portrait-up {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-tablet-landscape-up {
    margin-left: 50px;
    margin-right: 50px;
  }
  @include for-desktop-up {
    margin-left: 100px;
    margin-right: 100px;
  }
  @include for-big-desktop-up {
    margin-left: 250px;
    margin-right: 250px;
  }
}
.about-1 {
  height: 100vh;
  // margin-top: 45px;
  font-family: bould-thin;
  font-weight: 600;
  // background-color: rgba($color: #459c98, $alpha: 0.5);
  background-color: rgba($color: #c0bfbf, $alpha: 0.1);

  .ph {
    color: rgb(104, 174, 231);
  }

  @include for-phone-only {
    // padding-top: 200px;
    font-size: 2.5rem;
  }
  @include for-tablet-portrait-up {
    font-size: 3.3rem;
  }
  @include for-tablet-landscape-up {
    font-size: 4rem;
  }
  @include for-desktop-up {
    font-size: 4.5rem;
  }
  @include for-big-desktop-up {
    font-size: 5rem;
  }
}

.about-2 {
  height: 100vh;
  background-position: center;
  background-size: cover;
  // z-index: -2;
  position: relative;
  overflow: hidden;
}

.plastic {
  height: 100vh;
  background-position: center;
  background-size: cover;
  top: 0;
  filter: invert(100%);
}
.grain {
  /* Specify a height and width above and beyond the page header for movement */
  height: 300%;
  width: 300%;
  /* We're using opacity in place of a transparent image */
  opacity: 0.4;
  /* We'll need this when the animation kicks in to hold the position of the texture */
  position: absolute;
  // z-index: -1;
  left: -50%;
  top: -110%;
  animation: grain 8s steps(10) infinite;
}
@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
.about-backtext {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  z-index: 5;
  .about-backtext-bottom {
    position: absolute;
    width: 100%;
    @include for-phone-only {
      bottom: -5px;
    }
    @include for-tablet-portrait-up {
      bottom: -15px;
    }
    @include for-tablet-landscape-up {
      bottom: -20px;
    }
    @include for-desktop-up {
      bottom: -30px;
    }
    @include for-big-desktop-up {
      bottom: -135px;
    }
  }
}
.tickerContainer {
  overflow: hidden;
  position: relative;
  bottom: 0;
}
.tctop {
  height: 50vh;
}

.about-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  @include themed() {
    color: t($text);
  }
  h5 {
    font-family: chaney;
    font-weight: 400;
    z-index: 6;
  }

  @include for-phone-only {
    padding-top: 60px;
    h5 {
      font-size: 2.5rem;
    }
  }
  @include for-tablet-portrait-up {
    padding-top: 70px;
    h5 {
      font-size: 3rem;
    }
  }
  @include for-tablet-landscape-up {
    padding-top: 100px;
    h5 {
      font-size: 3rem;
    }
  }
  @include for-desktop-up {
    padding-top: 120px;
    h5 {
      font-size: 4rem;
    }
  }
  @include for-big-desktop-up {
    padding-top: 100px;
    h5 {
      font-size: 4.5rem;
    }
  }
}
.grid {
  position: absolute;
  display: grid;
  width: 100%;

  // column-gap: 100%;
  // margin-right: 100px;
  // width: 90vw;

  p {
    font-family: bould-thin;
    // font-weight: 200;
    opacity: 0.6;
    z-index: 6;
    font-weight: 600;
  }
  img {
    opacity: 0.7;
    position: relative;
    // max-height: 50%;

    width: auto;
    height: auto;
    @include themed() {
      border: 1px solid t($text);
    }
  }
  @include for-phone-only {
    row-gap: 20px;
    grid-template-columns: 100%;

    p {
      font-size: 1.5rem;

      margin-top: 20px;
    }
    img {
      width: 100%;
    }
  }
  @include for-tablet-portrait-up {
    grid-template-columns: 100%;
    row-gap: 30px;
    margin-top: 30px;
    p {
      font-size: 2.3rem;
    }
    img {
      width: 100%;
    }
  }
  @include for-tablet-landscape-up {
    grid-template-columns: 40% auto 40%;
    padding-top: 40px;
  }
  @include for-desktop-up {
    p {
      margin-top: 0px;

      font-size: 2.5rem;
    }
  }
  @include for-big-desktop-up {
    p {
      font-size: 3rem;
    }
  }
}

.contact {
  // padding-top: 50px;
  height: 100vh;
  position: relative;

  color: white;
  background: rgba($color: #2b41a3, $alpha: 0.8);
  h1 {
    padding-top: 50px;

    font-family: chaney;
    @include for-phone-only {
      font-size: 2rem;
    }
    @include for-tablet-portrait-up {
      font-size: 3.3rem;
    }
    @include for-tablet-landscape-up {
      font-size: 4rem;
    }
    @include for-desktop-up {
      font-size: 4.5rem;
    }
    @include for-big-desktop-up {
      font-size: 5rem;
    }
  }
  p {
    // font-family: Arial, Helvetica, sans-serif;
    font-family: bould-thin;
    font-weight: 600;
    @include for-phone-only {
      font-size: 1rem;
    }
    @include for-tablet-portrait-up {
      font-size: 2rem;
    }
    // @include for-tablet-landscape-up {
    //   font-size: 4rem;
    // }
    // @include for-desktop-up {
    //   font-size: 4.5rem;
    // }
    // @include for-big-desktop-up {
    //   font-size: 3rem;
    // }
  }
  .details {
    position: absolute;
    bottom: 30px;
    @include for-phone-only {
      // padding-top: 70vh;
    }
    @include for-tablet-portrait-up {
      // padding-top: 50vh;
    }
  }
}

//work
.mywork {
  height: 160vh;
  // background-color: rgba($color: #747561, $alpha: 0.1);
  background-image: linear-gradient(
    rgba(255, 58, 58, 0.9),
    rgba(255, 243, 77, 0.5)
  );
  h1 {
    font-family: chaney;
  }
}
.work-grid {
  display: grid;
  width: 100%;
  .item {
    border: 1px solid white;
    height: 50vh;
  }
  .info {
    position: relative;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    z-index: 1;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 2;
  }
}
