.about {
  padding-top: 45px;
  @include themed() {
    color: t($text);
    background: t($bg);
  }
}
.about-1 {
  height: 100vh;
  margin-top: 45px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: bould-regular;

  .ph {
    color: rgb(104, 174, 231);
  }

  @include for-phone-only {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 2rem;
  }
  @include for-tablet-portrait-up {
    font-size: 5rem;
  }
  @include for-tablet-landscape-up {
    font-size: 5rem;
  }
  @include for-desktop-up {
    font-size: 5rem;
  }
  @include for-big-desktop-up {
    font-size: 5rem;
  }
}
