.about {
  padding-top: 45px;
  @include themed() {
    color: t($text);
    background: t($bg);
  }
}
.about-1 {
  height: 100vh;
}

// text ticker
#maindiv {
  overflow: hidden;
  white-space: nowrap;
  font-family: chaney;
  font-size: 10vw;

  color: $primary-color;
  @include themed() {
    color: t($bg);
    -webkit-text-stroke: 1px t($text);
  }
}

#div1 {
  display: inline-block;
  animation: marquee1 50s linear infinite;
}

#div2 {
  display: inline-block;
  animation: marquee2 50s linear infinite;
  animation-delay: 25s;
}

// @keyframes marquee {
//   from {
//     transform: translateX(100%);
//   }
//   to {
//     transform: translateX(-100%);
//   }
// }

// @keyframes marquee2 {
//   from {
//     transform: translateX(0%);
//   }
//   to {
//     transform: translateX(-200%);
//   }
// }
@keyframes marquee1 {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes marquee2 {
  0% {
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-200%, 0, 0);
    transform: translate3d(-200%, 0, 0);
  }
}
