// nav
nav {
  z-index: 100;
  min-height: 45px;
  padding-left: 50px;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  width: 100%;

  // font-family: "agestadisplay-regular";
  font-family: "bould-regular";
  font-size: 1rem;
  line-height: 1.6;

  @include themed() {
    color: t($text);
    background: t($bg);
    border-bottom: 1px solid t($text);
  }

  @include for-phone-only {
    font-size: 1rem;
    padding-left: 10px;
  }

  ul {
    list-style-type: none;
    display: flex;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:visited {
      color: inherit;
    }
    // &:hover {
    //   color: purple;
    // }
  }
  a:active {
    text-decoration: underline;
  }
  li {
    margin-right: 20px;
  }
  .active {
    text-decoration: underline;
    // font-weight: 600;
  }
  .seperator {
    font-weight: 600;
    color: grey;
    padding-right: 12px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  .name {
    font-weight: 600;
  }
  button {
    position: absolute;
    top: 10px;
    right: 80px;
  }
  .underline-hover {
    &::before {
      height: 1px;
      bottom: 0px;
    }
  }
}
