.mywork {
  height: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: rgba($color: #747561, $alpha: 0.1);
  // background-image: linear-gradient(
  //   rgba(255, 58, 58, 0.9),
  //   rgba(255, 243, 77, 0.5)
  // );
  // border-top: 1px solid rgba($color: #000000, $alpha: 0.1);

  // background-color: rgba($color: #c0bfbf, $alpha: 0.2);

  // background-color: rgba($color: #747561, $alpha: 0.1);

  // background-image: linear-gradient(rgba(#c0bfbf, 0.2), rgba(#6b6b6b, 0.3));
  p {
    // font-family: bould-thin;
    font-family: argestaheadline-regular;

    // font-family: argestaheadline-regular;
    line-height: 1.6;
    @include for-phone-only {
      font-size: 0.875rem;
    }
    @include for-phone-only-landscape {
      font-size: 1rem;
    }
    @include for-tablet-portrait-up {
      font-size: 1rem;
    }
    @include for-tablet-landscape-up {
      font-size: 2rem;
    }
    @include for-desktop-up {
      font-size: 2rem;
    }
    @include for-big-desktop-up {
    }
  }
  h1 {
    font-family: chaney;
    // font-family: bould-thin;
    font-weight: 200;
    @include themed() {
      border-bottom: 1px solid t($text);
    }

    @include for-phone-only {
      font-size: 0.875em;
    }
    @include for-tablet-portrait-up {
      font-size: 0.875rem;
    }
    @include for-tablet-landscape-up {
      // font-size: 3rem;
      font-size: 1rem;
    }
    @include for-desktop-up {
      // font-size: 3rem;
      font-size: 1rem;
    }
    @include for-big-desktop-up {
      // font-size: 3rem;
      // font-size: 0.875rem;
      font-size: 1rem;
    }
  }
  h2 {
    // font-family: chaney;
    font-family: argestaheadline-regular;

    @include for-phone-only {
      font-size: 1.5rem;
    }
    @include for-tablet-portrait-up {
      font-size: 1.5rem;
    }
    @include for-tablet-landscape-up {
      font-size: 2rem;
    }
    @include for-desktop-up {
      font-size: 3rem;
    }
    @include for-big-desktop-up {
      font-size: 3.5rem;
    }
  }
}
.work-container {
  // display: grid;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 10vh;
  .item {
    // border: 1px solid white;
    height: 50vh;
    &1 {
      margin-top: 300px;
    }
  }
  .info {
    position: relative;
    top: 0;
    left: 0;
    // width: 100%;
    // height: 100%;
    z-index: 1;
    // border-top: 1px solid white;
    // border-bottom: 1px solid white;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 2;
    outline: none;
  }
  img {
    height: 50vh;
  }
  p {
    // font-family: argestaheadline-regular;
    line-height: 1.6;
    @include for-phone-only {
      margin-top: 60px;
    }
    @include for-phone-only-landscape {
      // row-gap: 20px;
      margin-top: 30px;
    }
    @include for-tablet-portrait-up {
      margin-top: 25px;
    }
    @include for-tablet-landscape-up {
      margin-top: 35px;
    }
    @include for-desktop-up {
      margin-top: 60px;
    }
    @include for-big-desktop-up {
      margin-top: 80px;
    }
  }
}
.work-container-alt {
  // padding-top: 50px;
}
.work-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  @include for-phone-only {
    column-gap: 25px;
  }
  @include for-phone-only-landscape {
    column-gap: 100px;
  }
  @include for-tablet-portrait-up {
    column-gap: 100px;
  }
  @include for-tablet-landscape-up {
    column-gap: 100px;
  }
  @include for-desktop-up {
    column-gap: 100px;
  }
  @include for-big-desktop-up {
    column-gap: 100px;
  }
  img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
  }
  .text-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .buttons {
    display: flex;
    justify-content: space-evenly;
    @include for-phone-only {
      padding-bottom: 5px;
    }
    @include for-phone-only-landscape {
      padding-bottom: 50px;
    }
    @include for-tablet-portrait-up {
      padding-bottom: 50px;
    }
    @include for-tablet-landscape-up {
      padding-bottom: 50px;
    }
    @include for-desktop-up {
      padding-bottom: 50px;
    }
    @include for-big-desktop-up {
      padding-bottom: 50px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.work-button {
  background: none;
  color: inherit;
  width: 100%;
  text-align: left;

  outline: none;

  @include themed() {
    border-top: 1px solid t($text);
  }
  &:hover {
    background: rgba($color: #fff, $alpha: 0.5);
  }
}
.line {
  width: 100%;
  @include themed() {
    border-bottom: 1px solid t($text);
  }
}
